<!DOCTYPE html>
<html>
  <head>
    <title>Nice Header</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <link rel='stylesheet' href='/stylesheets/animate.css' />
    
    <link rel='stylesheet' href='/stylesheets/hover.css' />
    
      <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/dashboard/dashboard.css" rel="stylesheet">
<link rel="icon" href="http://getbootstrap.com/favicon.ico">
  </head>
  <body>
    <h1>GitIssues</h1>
    <h2> <%= state %> </h2>
    
    <div> Number of Issues <%= state %> within <%= day %> days to <%= daysEnd %> days is <%= number %>. Total is <%= total %>.</div>
    <br>


<form method = "get" action="./">
<input type="submit" name="state" value="Back!" class = "hvr-sweep-to-right">
</form>
 
  </body>
</html>
